{% extends 'voice_assistant/base.html' %}

{% block head %}
{% endblock head %}

{% block content %}
    <a href='{% url "main" %}'>
        <svg class="arrow" viewbox="0 0 60 100">
            <path d="M 50,0 L 60,10 L 20,50 L 60,90 L 50,100 L 0,50 Z"/>
        </svg>
    </a>
    <div class="aboutapp">
        <h4>
        Приложение голосового помощника «Катрина» может сказать Вам погоду в
        любой точке мира, откроет любой сайт, который пожелаете,
        найдет любую интересующую Вас информацию и зачитает! ее
        вслух при желании, найдет любое видео, которое Вы захотите
        посмотреть с помощью особо точного поиска, так же откроет
        Вам любое приложение на вашем персональном компьютере,
        будь то музыкальный плеер, стим, ворд, батлнет, абсолютно
        не имеет значения, но что самое крутое есть в «Катрине»,
        так это то, что она может перевести любую Вашу фразу на
        английский, немецкий и итальянский языки с последующим
        произношением, чтобы Вы знали верное произношение!
        <p>Данный голосовой помощник разработан и назван в честь
        моей жены Екатерины.</p>
        </h4>
    </div>
{% endblock %}