{% extends 'voice_assistant/base.html' %}

{% block head %}
{% endblock head %}

{% block content %}
    <a href='{% url "main" %}'>
        <svg class="arrow" viewbox="0 0 60 100">
            <path d="M 50,0 L 60,10 L 20,50 L 60,90 L 50,100 L 0,50 Z"/>
        </svg>
    </a>
    <div class="aboutsite">
        <h4>
        В первую очередь данный сайт создан исключительно для приобретения
        практических навыков работы с Django, HTML, CSS, JS, поэтому особой
        смысловой нагрузки он в себе не несет. Но, не смотря на это, данный
        сайт так же предназначен для первичного ознакомления с
        возможностями голосового помощника «Катрина». В то же время здесь
        содержится краткая информация и ссылки на социальные сети
        разработчика данного голосового помощника.
        </h4>
    </div>
{% endblock %}